{% extends "public/templates/public_template.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container">
    <body style="background-color: lightgoldenrodyellow; margin: 0; padding: 0;">
        <div style="overflow-x:auto;">
    <table style="border: 2px solid black; border-collapse: collapse; margin-left:auto;margin-right:auto; width: 100%;">
        <tr style="border: 2px solid black; border-collapse: collapse; padding: 5px;">
           <h2> <th style="border: 2px solid black; border-collapse: collapse; padding: 5px; color: maroon; background-color: lightpink;">Subject</th></h2>
            <h2><th style="border: 2px solid black; border-collapse: collapse;padding: 5px; color: maroon;background-color: lightpink;">PDF</th></h2>
        </tr>
        <tr style="border: 2px solid black; border-collapse: collapse;padding: 5px;">
            <th style="border: 2px solid black; border-collapse: collapse;padding: 5px; color: lightseagreen;">Software Engineering</th>
    <th style="border: 1px solid black; border-collapse: collapse;padding: 5px;"><a href="/get-pdf/Black.pdf" >Download the pdf</a></th>
</tr>
<tr>
    <th style="border: 2px solid black; border-collapse: collapse;padding: 5px; color: lightseagreen;">DBMS</th>
    <th style="border: 2px solid black; border-collapse: collapse;padding: 5px;"><a href="/get-pdf/dbms.pdf">Download the pdf</a></th>
</tr>
<tr>
    <th style="border: 2px solid black; border-collapse: collapse;padding: 5px; color: lightseagreen;">ADBMS</th>
    <th style="border: 2px solid black; border-collapse: collapse;padding: 5px;"><a href="/get-pdf/ADBMS.pdf">Download the pdf</a></th>
</tr>
<tr>
    <th style="border: 2px solid black; border-collapse: collapse;padding: 5px; color: lightseagreen;">CSA</th>
    <th style="border: 2px solid black; border-collapse: collapse;padding: 5px;"><a href="/get-pdf/csa.pdf">Download the pdf</a></th>
</tr>
</table>
</div>
</body>
</div>

{% endblock %}