<!DOCTYPE html>
<html lang="en">
  <title> Learning Portal</title>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/css/style.css"  rel="stylesheet">
  </head>
    <body>
      <header>
        <div class="nav">
          <img src="../static/name.JPG" style="width: 150px; height:50px;">
          <a href="{{url_for('index')}} " style="margin-top:3px;margin-bottom:3px;"><i class="fa fa-sign-out"></i>Logout</a> 
          <a href="{{url_for('quiz')}} " style="margin-top:3px;margin-bottom:3px;">Quiz</a>
          <a href="{{url_for('files')}} " style="margin-top:3px;margin-bottom:3px;">Files</a>
          <a href="#content" style=" margin-top:3px;margin-bottom:3px;">Content</a>
        <a style=" margin-top:3px;margin-bottom:3px;background-color:lightblue; " href="{{url_for('homepage')}}"><i class="fa fa-home"></i>Home</a> 
        </div>
      </header>
      <div>
        <img style="width:100%; height:40%" src="../static/back.jpg">
        </div>
        <a name="content">
      <div class="container" style="height: 90%;background-color:lightblue;">
        <h1><img src="../static/video.JPG"></h1>
        <div class="email"> {{text1 | safe}} </div>
     <form action="{{url_for('success')}}" method="POST">
      <input style="border-radius:5px ;" placeholder="Enter Url" type="url" name="url_video" required> <br>
      <input style="border-radius:5px ;" placeholder="Enter Your Drive For eg:- D:/" type="text" name="path_name" pattern="[A-Z]?:/" required> <br>
      
      <button class="btn" type="submit" onclick="javascript:alert('your video is being downloaded.Please Wait!');" style="width:100px; height:50px; border-radius: 5px; background-color:rgba(46, 42, 42, 0.801);color:white">Submit </button><br>
     </form>
    </div>
    </div>
    </a>
    
     </body>
      
      </html>