<!DOCTYPE html>
<html>
    <div class="container">
        <body style="background-color: lightblue">
        <table style="border: 2px solid black; border-collapse: collapse; margin-left:auto;margin-right:auto;">
            <tr style="border: 2px solid black; border-collapse: collapse; padding: 5px;">
                <th style="border: 2px solid black; border-collapse: collapse; padding: 5px; color: maroon;">Website Name</th>
                <th style="border: 2px solid black; border-collapse: collapse;padding: 5px; color: maroon;">Link</th>
            </tr>
            <tr style="border: 2px solid black; border-collapse: collapse;padding: 5px;">
                <th style="border: 2px solid black; border-collapse: collapse;padding: 5px; color: lightseagreen;">GeeksForGeeks</th>
        <th style="border: 1px solid black; border-collapse: collapse;padding: 5px;"><a href="https://www.geeksforgeeks.org/" target="_blank" >Click Here</a></th>
    </tr>
    <tr>
        <th style="border: 2px solid black; border-collapse: collapse;padding: 5px; color: lightseagreen;">W3Schools</th>
        <th style="border: 2px solid black; border-collapse: collapse;padding: 5px;"><a href="https://www.w3schools.com/" target="_blank">Click Here</a></th>
    </tr>
    </table>
    </body>
    </div>
</html>