{% extends "public/templates/public_template.html" %}

{% block title %}Upload{% endblock %}

{% block main %}

<div class="container">
  <body style="background-color: burlywood; text-align: center;">
  <div class="row">
    <div class="col">

      <h1 style="color: brown;">Upload your File</h1>
      <hr>

      <form action="/upload-image" method="POST" enctype="multipart/form-data">

        <div class="form-group">
         <h4> <label style="color: deepskyblue">Select file</label></h4>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
          <label class="custom-file-label" for="image" id="list">Select file...</label>
          </div>
        </div>
         <button type="submit" class="btn btn-primary">Upload</button>
          </form>
        </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>

function handleFileSelect(evt) {
  var files = evt.target.files; // FileList object

  // files is a FileList of File objects. List some properties.
  var output = [];
  for (var i = 0, f; f = files[i]; i++) {
    output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                f.size, ' bytes, last modified: ',
                f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                '</li>');
  }
  document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
}

document.getElementById('image').addEventListener('change', handleFileSelect, false);

</script>

{% endblock %}